body{
    background: url("/www/images/bg.jpg") no-repeat scroll center top #d7d7d7;
    color: #5b5b5b;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
html {
    height: 100%;
    margin-bottom: 1px;
}

h3 {
    color: #3987b8;
    font-size: 16px;
    margin: 10px 0;
}
img {
    border: 0 none;
}

.hideme{
    display: none;
}

header{
    height: 70px;
    text-align: center;
    margin-bottom: 50px;
    max-height: 100px;
    margin-left: 100px;
    max-width: 1140px;
    padding-left: 20px;
}

#leftColumn{
    width: 180px;
    float: left;
    margin-left: 160px;
    position: absolute;
}

#leftMenu, #loginBox, #registerBox{
    padding-bottom: 20px;
}

span {
    font-size: 90%;
}

#bolder{
    font-size: 110%;
    font-weight: bold;
}

#centerColumn{
    width: 800px;
    max-width: 800px;
    padding-left: 130px;
    float: left;
    position: relative;
    margin-left: 250px;
}

footer{
    clear: both;
    margin-left: 160px;
    margin-top: 550px;
    width: 980px;
}

.menuCaption{
    padding: 3px;
    font-weight: bold;
}

.cartBox{
    padding: 5px 0px 0px 5px;
}

a:link, a:visited {
    font-weight: normal;
    text-decoration: none;
}
a:hover {
    color: #f7960b;
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;
}

a:active, a:focus {
    outline: medium none;
}
a {
    color: #a10651;
    outline: medium none;
}

input.button {
    cursor: pointer;
}

#main{
    float: left;
    padding: 10px 30px 40px 10px;
    width: 150px;
}
#bot{
    clear: both;
}

div.text{
    font-size: 1.5em;
    font-weight: 400;
}

.showHidden{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

#registerBoxHidden{
    display: none;
}
span.bolder{
    text-decoration: underline;
    font-weight: 600;
}

#userTable{
    border: 0;
    border-spacing: 10px 10px;
}

#userTable > td{
    padding: 10px;
}
