body{
    background: url("/www/images/bg.jpg") no-repeat scroll center top #d7d7d7;
    color: #5b5b5b;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    /*overflow: hidden;*/
    padding: 0;

}

html {
    height: 100%;
    /*margin-bottom: 1px;*/
}

#container{
    width: 1000px;
    margin: 0 auto;
    background: url("/www/images/container_body.jpg") repeat scroll left top rgba(0, 0, 0, 0);
}

h1{
    padding-top: 10px;
}

h3 {
    color: #631d3b;
    font-size: 16px;
    margin: 10px 0;
}
img {
    border: 0 none;
}

.hideme{
    display: none;
}

h1{
    color: #a2a2a2;
    font-size: 20px;
    line-height: 20px;
    padding-top: 15px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px green;
}

header{
    height: 60px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid #bbbd91;
    clear:both;
}

#leftColumn{
    width: 150px;
    float: left;
    padding-left: 20px;
    min-height: 400px;
    position: absolute;
    padding-top: 20px;
}

#leftMenu, #loginBox, #registerBox{
    padding-bottom: 20px;
}

span {
    font-size: 90%;
}

#centerColumn{
    width: 840px;
    max-width: 850px;
    padding-top: 20px;
    margin-left: 170px;
    float: left;
    min-height: 480px;
    position: relative;
    padding-left: 50px;
}

footer{
    clear: both;
    margin: 0 auto;
    border-top: 2px solid #bbbd91;
    text-align: right;
    background: url("/www/images/footer.jpg") repeat-x scroll center top rgba(0, 0, 0, 0);
    height: 30px;
}

.menuCaption{
    padding: 3px;
    font-weight: bold;
}

.Caption{
    padding: 3px;
    font-weight: bold;
    float: right;
    margin-top: -60px;
    color: #5b5b5b;

}

.cartBox{
    padding: 5px 0px 0px 5px;
}

a:link, a:visited {
    color: #631d3b;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #f7960b;
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;
}

a:active, a:focus {
    outline: medium none;
}
a {
    color: #631d3b;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
input[type="button"] {
    cursor: pointer;
    text-decoration:none; text-align:center;
    padding:5px 15px;
    border:none;
    border-radius: 4px;
    font:13px Tahoma, Geneva, sans-serif;
    font-weight:bold;
    color:#dcf5f5;
    background-color:#121c1f;
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    opacity:0.85;
    filter: alpha(opacity=85);
}

input[type="button:hover"]{
    padding:11px 32px;
    border:solid 1px #004F72;
    border-radius: 4px;
    font:13px Tahoma, Geneva, sans-serif;
    font-weight:bold;
    color:#dcf5f5;
    background-color:#3BA4C7;

}

#main{
    float: left;
    padding: 5px 20px 20px 15px;
    width: 150px;
}
#bot{
    clear: both;
}

div.text{
    font-size: 1.5em;
    font-weight: 400;
}

.showHidden{
    cursor: pointer;
    text-decoration: underline;
}

#registerBoxHidden{
    display: none;
}
span.bolder{
    text-decoration: underline;
    font-weight: 600;
}


table {
    border-width: 1px;
    border-spacing: 0px;
    border-style: outset;
    border-color: green;
    border-collapse: collapse;
    background-color: rgb(255, 245, 238);
}
table th {
    border-width: 2px;
    padding: 3px;
    border-style: solid;
    border-color: green;
    background-color: white;
}
table td {
    border-width: 1px;
    padding: 3px;
    border-style: solid;
    border-color: green;
    background-color: white;
}

#form[input]{
    padding: 10px;
}

dd{
    margin-left: 10px;
    font-style: italic;
}