body{
    padding: 0;
    display: block;
    font-family: Calibri, Arial, sans-serif;
}

.hideme{
    display: none;
}

header{
    height: 70px;
    text-align: center;
    margin-bottom: 50px;
    max-height: 100px;
    margin-left: 100px;
    max-width: 1140px;
    padding-left: 20px;
}

#leftColumn{
    width: 180px;
    float: left;
    margin-left: 100px;
    position: absolute;
}

#leftMenu, #loginBox, #registerBox{
    padding-bottom: 20px;
}

span{
    font-size: 90%;
}

#centerColumn{
    width: 800px;
    max-width: 800px;
    padding-left: 130px;
    float: left;
    position: relative;
    margin-left: 250px;
}

footer{
    clear: both;
}

.menuCaption{
    padding: 3px;
    font-weight: bold;
}

.cartBox{
    padding: 5px 0px 5px 0px;
}

a:visited{
    color: blue;
}
a:hover{
    color: cornflowerblue;
}

#main{
    float: left;
    padding: 10px 40px 40px 10px;
    background: oldlace;
}
#bot{
    clear: both;
    background: red;
}